doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style 
    include ordre.css
    include common.css
  script(src='logik.js')
  script(src='server.js')
  title PaperSign
.tabbtn
  form(action = "/kasse" method="get")
    input(class="button" type="submit" value="Kasse")
  form(action = "/faktura" method="get")
    input(class="button" type="submit" value="Faktura")
  form(action= "/crud" method="get")
    input(class="button" type="submit" value="Crud")

h1 PaperSign Ordre
  H2="Ordre: " + specifikOrdre.ordreNr
  H2#productHeader= "Dato: "+ specifikOrdre.dato
  H2#productHeader= "Samlet Pris: "+ specifikOrdre.samletpris
    each fisk in specifikOrdre.betalingsmetode
      H2#productHeader= "Betalingsmetode: "+ fisk.betalling + " beløb: " + fisk.beloeb + ",-"
    if (specifikOrdre.navn == "")
        H2#productHeader= "Anonym betaling " + specifikOrdre.navn
    else
        H2#productHeader= "Betaler: " + specifikOrdre.navn

.ordrelinjer
    .overskrift Varenummer
    .overskrift Navn
    .overskrift Pris
    .overskrift Antal
    .overskrift Total
    each data in specifikOrdre.ordrelinjer
        div#info= data.produktnr
        div#info= data.navn
        div#info= data.pris
        div#info= data.antal 
        div#info= data.total

