doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi' crossorigin='anonymous')
  style 
    include underskrift.css
    include common.css
  title Signature
.tabbtn
  form(action = "/" method="get")
    input(class="button" type="submit" value="Kasse")
  form(action = "/faktura" method="get")
    input(class="button" type="submit" value="Faktura")
  form(action= "/crud" method="get")
    input(class="button" type="submit" value="Crud")
h2 PaperSign Faktura
#app
  canvas#sig
.funct
  input#text(type='text' placeholder='Navn' name="Navn" required)
  button#gemSig.gem(type='button') Gem
  button#sletSig.slet(type='button') Slet 
  select#varelist(name='kurv' multiple="")
    each k of kurv
      option()= k.antal +'stk. ' + k.navn + ' ' + k.pris +' Total:' + k.total
  input#total(type="text" placeholder="00kr" disabled)  
#image
script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js' integrity='sha512-cLuyDTDg9CSseBSFWNd4wkEaZ0TBEpclX0zD3D6HjI19pO39M58AgJ1SjHp6c7ZOp0/OCRcC2BCvvySU9KJaGw==' crossorigin='anonymous' referrerpolicy='no-referrer')
script(src='https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js' integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js' integrity='sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk' crossorigin='anonymous')
script(type='module').
  let count =0;
  var signaturePad
  var canvas;
  function setupSigBox(){
  canvas = document.querySelector("canvas");
  canvas.setAttribute("width", 700);
  canvas.setAttribute("height", 400);
  signaturePad = new SignaturePad(canvas);
  }
  document.addEventListener("DOMContentLoaded",setupSigBox);
  function clearSig(){
  signaturePad.clear()
  }
  document.getElementById("sletSig").addEventListener("click",clearSig)
  // gem funktion skal håndteres af express før den virker rigtig
  var button= document.getElementById("gemSig")
  button.onclick=()=>{
  var text=document.getElementById("text").value
  var imageData= signaturePad.toDataURL();
  var doc = new jsPDF()
  doc.setFontSize(30)
  doc.text("navn: "+text,10,20)
  doc.addImage(imageData,"JPEG",60,200,80,80)
  let count=0;
  let i=0
  let kurv=document.getElementById("varelist")
  for(let k of kurv){
    doc.setFontSize(15);
    doc.text('antal.  ' + 'Navn. ' +'                   pris  Total',10,30)
    doc.text(kurv[i].value,10,40+count)
    //let total= kurv[i].value;
    //doc.text(total,60,180)
    count+=10
    i++;
  }
  doc.save(`underskrift ${text}.pdf`)
  alert("saved")
  }